<style>
    .top-home{
        background:#fff;
        border-bottom: 10px solid #f5f5f5;
    }
    .top-home-search{
        margin: 10px 13px;
        padding:1px 0 0 30px;
        color:rgba(0,0,0,0.4);
        font:11px/33px a;
        background: url('/static/img/search.png') no-repeat 5px;
        background-size:14px;
        border: 1px solid #f5f5f5;
        border-radius: 2px;
    }
    .cover{
        width: 100%;
    }
    .top-home-btn{
        margin:14px 0 4px;
        display: -webkit-box;
        display: -moz-box;
        width: 100%;
    }
    .top-home-btn li{
        line-height:2.4em;
        font-size: 12px;
        text-align: center;
        -webkit-box-flex:1;
        -moz-box-flex: 1;
    }
    .top-home-icon{
        display: block;
        margin:0 auto;
        height: 22px;
        width: 22px;
    }
</style>



<section class="top-home">
    <a href="/search">
        <div class="top-home-search">输入书名/作者/关键字</div>
    </a>
    <div class="slider-banner">
        <div>
            <a href="">                                         <!--todo-->
                <img class="cover" src="/static/img/top.jpg"/>
            </a>
        </div>
    </div>
    <ul class="top-home-btn">
        <li>                                                        <!--todo-->
            <a href="">
                <img class="top-home-icon" src="/static/img/male.png" />
                <p class="top-home-desc">男生</p>
            </a>
        </li>
        <li>
            <a href="">
                <img class="top-home-icon" src="/static/img/female.png" />
                <p class="top-home-desc">女生</p>
            </a>
        </li>
        <li>
            <a href="">
                <img class="top-home-icon" src="/static/img/catalog.png" />
                <p class="top-home-desc">分类</p>
            </a>
        </li>
        <li>
            <a href="">
                <img class="top-home-icon" src="/static/img/ranking.png" />
                <p class="top-home-desc">排行</p>
            </a>
        </li>


    </ul>
</section>