<section class="channel-group">
    <div class="channel-group-header">
        <h2 class="channel-group-title">限时免费</h2>
    </div>
    <ul class="book-table">
        <li>
            <div class="u-book">
                <div class="book-cover">
                    <img src="../../static/img/三生三世.jpg" />
                    <div class="u-tagRT -freefition"></div>
                </div>
                <div class="info">
                    <h3 class="title">三生三世</h3>
                    这是一本书
                </div>
            </div>
        </li>
        <li>
            <div class="u-book">
                <div class="book-cover">
                    <img src="../../static/img/三生三世.jpg" />
                    <div class="u-tagRT -freefition"></div>
                </div>
                <div class="info">
                    <h3 class="title">三生三世</h3>
                    这是一本书
                </div>
            </div>
        </li>
        <li>
            <div class="u-book">
                <div class="book-cover">
                    <img src="../../static/img/三生三世.jpg" />
                    <div class="u-tagRT -freefition"></div>
                </div>
                <div class="info">
                    <h3 class="title">三生三世</h3>
                    这是一本书
                </div>
            </div>
        </li>
        <li>
            <div class="u-book">
                <div class="book-cover">
                    <img src="../../static/img/三生三世.jpg" />
                    <div class="u-tagRT -freefition"></div>
                </div>
                <div class="info">
                    <h3 class="title">三生三世</h3>
                    这是一本书
                </div>
            </div>
        </li>
    </ul>
    <a href="/free" class="channel-group-footer">更多限免佳作&gt;&gt;</a>
</section>